<div class= "container">
    <div class = "row">
        <div class=".col-md-8 col-lg-12 mx-auto">
            <app-topheader></app-topheader>
            <app-middleheader></app-middleheader>
            <app-bottomheader></app-bottomheader>
        </div>  
        <div class = "body">
            <h1>Welcome {{ name }}</h1>
            <div class="container">
                <input 
                type="button"
                class="form-control"
                value = "click me"
                (click)= "setName()"><br>

            </div>
                <input type="text"
                [(ngModel)]="text">

                <p >{{ text }}</p>
            <input type="button"
            value="Get Details"
            (click)="getDetails()">
            <div
            *ngFor="let dateItem of date">
            {{ dateItem }}
            </div>
            <div>
                <p>This link goes to the admins page. so make sure to remove it</p>
                <input type = "submit"
                 value = "admin" 
                 routerLink="/admin"
                 routerLinkActive="active"/>
            </div>  
            <p>{{ setPosition }}</p>
            <div class="row">
                <div class="col center">
                    <div class="container">
                        <div class="row">
                            <div class="col-1">
                                <h5>The user will select the jobs here</h5>
                            </div>
                            <div class="col-1">
                                <ul *ngFor="let jobs of job"
                                    [routerLink]="['/jobs',jobs.id]">
                                    <span (click)="onClick(job)"> You have {{ jobs.name }} of id {{ jobs.id }} waiting for you!</span><br><br>
                                </ul>          
                            </div>
                        </div>
                    </div>         
                </div>
            </div>
        <div class="row">
                <div class="col md-5">
                    <input type="submit"
                    value="Logout"
                    routerLink="/login">
                </div>
            </div>
            

        </div>
    </div>
    <div class = "footer">
        <app-footer></app-footer>    
    </div>
</div>