<div class = "container">
            <div class ="header">
                <div class = "topheader">
                    <app-topheader></app-topheader>
                </div> 
                <div class = "bottomheader">
                    <app-bottomheader></app-bottomheader>
                </div>
            </div>
    <form>
        <fieldset>
            <legend>User login information</legend>
                <div class = "login_form">
                    <div class ="input">
                        User Name / Email: <br>
                        <input type = "text"><br>
                    </div>
                    <div>
                        Password: <br>
                        <input type = "password">
                    </div>
                    <div>
                        <input type = "submit" value = "Login" >
                    </div>  
                </div>
        </fieldset>
    </form>
    <div class = "footer">
    <app-footer></app-footer>    
    </div>
</div>    
